################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Visual Studio
.vs/
.vscode/

# Build output
bin/
obj/

# User-specific files
*.user
*.suo

# OS files
.DS_Store
Thumbs.db
